{% extends 'base.html.twig' %}

{% block title %}Enclo index{% endblock %}

{% block body %}
    <h1>Enclo index</h1>

    {% for messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="row w-100">
        {% for enclo in enclos %}
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">{{ enclo.nom }}</h5>
                        <p class="test-secondary">{{ enclo.superficie }} m2</p>
                    </div>
                    <a href="{{ path("app_enclo_show", {id:enclo.id}) }}" class="btn btn-primary"><i
                            class="fa-solid fa-circle-info"></i></a>
                    <a href="{{ path("app_enclo_edit", {id:enclo.id}) }}" class="btn btn-success"><i
                            class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{{ path("app_enclo_delete", {id:enclo.id}) }}" class="btn btn-danger"><i
                            class="fa-solid fa-trash"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="btn btn-primary m-1" href="{{ path('app_enclo_new') }}">Create new</a>
{% endblock %}
