{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
    <h1>Animal</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ animal.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ animal.nom }}</td>
        </tr>
        <tr>
            <th>Date_naissance</th>
            <td>{{ animal.dateNaissance ? animal.dateNaissance|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Date_arrive</th>
            <td>{{ animal.dateArrive ? animal.dateArrive|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Date_depart</th>
            <td>{{ animal.dateDepart ? animal.dateDepart|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Genre</th>
            <td>{{ animal.genre }}</td>
        </tr>
        <tr>
            <th>Espece</th>
            <td>{{ animal.espece }}</td>
        </tr>
        <tr>
            <th>Sterilise</th>
            <td>{{ animal.sterilise ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Quarantaine</th>
            <td>{{ animal.quarantaine ? 'Yes' : 'No' }}</td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-start w-100">
        <a class="btn btn-primary" href="{{ path('app_animal_index') }}"><i class="fa-solid fa-rotate-left"></i></a>

        <a href="{{ path("app_animal_edit", {id:animal.id}) }}" class="btn btn-success"><i
                class="fa-solid fa-pen-to-square"></i></a>

        {{ include('animal/_delete_form.html.twig') }}
    </div>
{% endblock %}
