{% extends 'base.html.twig' %}

{% block title %}Espace{% endblock %}

{% block body %}
    <h1>Espace</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ espace.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ espace.nom }}</td>
            </tr>
            <tr>
                <th>Superficie</th>
                <td>{{ espace.superficie }}</td>
            </tr>
            <tr>
                <th>Date_ouverture</th>
                <td>{{ espace.dateOuverture ? espace.dateOuverture|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_fermeture</th>
                <td>{{ espace.dateFermeture ? espace.dateFermeture|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_espace_index') }}">back to list</a>

    <a href="{{ path('app_espace_edit', {'id': espace.id}) }}">edit</a>

    {{ include('espace/_delete_form.html.twig') }}
{% endblock %}
